__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/
.venv/
venv/
data/*.csv
artifacts/*.joblib
reports/*.csv
reports/*.json
figures/*.png
!.gitkeep

# Ignore Markdown documentation except README files.
*.[mM][dD]
!/[rR][eE][aA][dD][mM][eE].[mM][dD]
